.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}
/* * {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
} */
.wrapper {
  margin: 0 auto;
  width: 50%;
  /* background-color: blue; */
  padding: 50px 0;
}
.create_container {
  margin: 0 auto;
  width: 75%;
  background-color:moccasin;
  padding: 30px;
  margin-bottom: 30px;
}
.display_container {
  margin: 0 auto;
  width: 75%;
  background-color:rgb(226, 234, 241);
  padding: 30px 30px 50px 30px;
}
header {
  /* color: black; */
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}
.form_fields {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
/* input[type="text"] { */
  input {
    width:65%;
    height: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}
button {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 70px;
  font-weight: 600;
  font-size: 16px;
  height: 25px;
  margin-top: 10px;
  cursor: pointer;
}
.btn_create, .btn_update {
  background-color: darkgray;
  color: white;
  border: 1px solid black;
}
.display_rows {
  width: 75%;
  line-height: 35px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.btn_edit {
  background-color: transparent;
  color: rgb(119, 113, 113);
  border: solid 1px rgb(119, 113, 113);
}
.btn_delete {
  background-color: transparent;
  color: rgb(145, 79, 79);
  border: solid 1px rgb(145, 79, 79);
}
.display_item_col {
  width: 60%;
  text-align: left;
}
.update_container {
  margin: 0 auto;
  width: 75%;
  background-color:rgb(250, 207, 189);
  padding: 30px;
  margin-bottom: 30px;
}
