.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}
.wrapper {
  margin: 0 auto;
  width: 50%;
  background-color: blue;
  padding: 50px 0;
}
.create_container {
  margin: 0 auto;
  width: 75%;
  background-color:yellow;
  padding: 30px;
}
/* .create_contents {
  width: 100%;
  margin: 30px;
} */
.display_container {
  margin: 0 auto;
  width: 75%;
  background-color:azure;
  padding: 30px;
}
header {
  color: red;
  font-size: 36px;
  margin-bottom: 30px;
}
.form_fields {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
input[type="text"] {
  width:65%;
}
.btn_submit {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 70px;
  background-color: darkgray;
  font-weight: 600;
  font-size: 16px;
  color: white;
  border: none;
  height: 25px;
  margin-top: 10px;
}
.display_fields {
  width: 65%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}