.tab {
  text-align: center;
  display: inline-block;
  margin: 2px;
  padding: 10px 20px;
}

.activeTab {
  color: white;
  background-color: black;
  border: 2px solid black;
}

.inactiveTab {
  color: black;
  background-color: white;
  border: 2px solid #bbbbbb;
}

.tabs_blurb {
  width: 85%;
  height: 100px;
  margin: auto;
  border: 2px solid #777777;
}

.App {
  text-align: center;
  margin: 10px;
}
