.tab_container {
  margin: 30px auto 0 auto;
  width: 73%;
  text-align: left;
  background-color: rgb(206,242,236);
  border: 2px solid #777777;
  padding: 10px;
}

.tab {
  text-align: center;
  display: inline-block;
  margin: 2px 6px 2px 0;
  padding: 10px 20px;
}

.activeTab {
  color: white;
  background-color: black;
  border: 2px solid black;
  font-weight: 700;
}

.inactiveTab {
  color: black;
  background-color: white;
  border: 2px solid #bbbbbb;
}

.tabs_blurb {
  width: 73%;
  height: 100px;
  margin: auto;
  border: 2px solid #777777;
  padding: 10px;
}

.App {
  text-align: center;
  margin: 10px;
}
